.headerTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.headerSearch {
  border-radius: 10px;
  padding: 6px 8px;
  border-color: "#f2f2f2";
  opacity: 0.3;
  box-shadow: 2px 2px 2px black;
}
